.pagination-container{
    background-color: #ffde4a;
}
.pagination-btn{
    font-weight: bold;
    font-family: "Roboto";
    margin-left: 50px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C200FB;
    border: 1px solid green;
    padding-left: 5px;
    padding-right: 5px;
}