.title-blc{
    text-align: center;
    h1{
        font-family: 'Roboto';
        margin-top: 100px;
        font-size: 32pt;
    }
}
.img-blc{
    margin-top: 100px;
    text-align: center;
}
.img-main{
    width: 250px;
}
.block-type{
    text-align: center;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: 500;
    color: white;
    .item-type{
        padding: 14px;
        background-color: black;
        border-radius: 20px;
        margin-left: 5px;
    }
}
.stats-blc{
    div{
        margin-left: 35px;
        .stat-text{
            font-family: 'Roboto';
            font-size: 16pt;
            font-weight: 600;
            color: black;
        }
        .stat-field{
            max-width: 500px;
            width: 100%;
            .stat-line{
                background-color: rgb(50, 180, 255);
            }
        }
    }
}