.wrapper{
    overflow: hidden;
    background-image: url(./assets/pictures/pokemons-bg-big1-reforged.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 186px;
    background-color: #f2f3ae;
}
.header{
    background-color: #fe9000;
    div{
        color: white;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20pt;
        padding: 20px;
    }
}
.section{
    display: flex;
    .nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }
    .article{
        width: 100%;
        max-width: 1000px;
    }
}
.searchContainer{
    background-color: #c200fb;
    text-align: center;
    height: 55px;
    max-width: 400px;
    width: 100%;
}
.footer{
    background-color: #F4B393;
    display: flex;
    margin-bottom: 146px;
    .foot-1{
        width: 50%;
        padding-top: 28px;
        .soc-logo{
            width: 32px;
            height: auto;
            margin-left: 35px;
        }
    }
    .foot-2{
        width: 50%;
        color: white;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16pt;
        div{
            float: right;
            
            #foot-logo{
                width: 64px;
                height: auto;
                margin: 10px 20px 10px 20px;
            }
        }
        #footer-text{
            margin-top: 25px;
            p{
                margin: 0;
            }
        }
    }
}
